eureka:
  client:
    fetchRegistry: true
    registerWithEureka: true
    serviceUrl:
      defaultZone: http://localhost:9000/eureka
  instance:
    instance-id: ${spring.application.name}:${instanceId:${random.value}}
    preferIpAddress: true
server:
  port: 0
spring:
  application:
    name: filter    #If your computer language is Turkish, please do not use vowels (i)
  data:
    mongodb:
      database: ecommercefilterdb
      host: localhost
      port: 27017
  jpa:
    hibernate:
      ddl-auto: update
      show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
      javax:
        persistence:
          validation:
            mode: none
    kafka:
      consumer:
        auto-offset-reset: earliest
        bootstrap-servers: localhost:9092
        group-id: inventory3
        key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
        properties:
          spring:
            json:
              trusted:
                packages: '*'
        value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      topic:
        name: rental_TOPICS4


management:
  endpoint:
    metrics:
      enabled: true
    prometheus:
      enabled: true
  endpoints:
    web:
      exposure:
        include: '*'
  metrics:
    export:
      prometheus:
        enabled: true
